1. round.rb Removed has_many :champs
2. Removed

class AddingChampsBelongToRounds < ActiveRecord::Migration
  def change
  	add_reference :rounds, :champ, index: true
  	add_foreign_key :rounds, :champs
  end
end


3. Removed

class CreateRounds < ActiveRecord::Migration
  def change
    create_table :rounds do |t|
      t.timestamps null: false
    end
  end
end

4. Removed champ.rb belongs_to :round


	def generate_champs
		available_champs = Champ.all.pluck(:id)
		participants = []
		3.times do |x|
			participants << available_champs.shuffle!.pop
		end

		data = {}
		data['participants'] = participants
		data['available_champs'] = available_champs
		return data
	end

		# Use pluck to create matches, faster query, less taxing on DB
		# @bla = Champ.all.pluck(:riot_id)
		# p '============='
		# @bla.each do |x|
		# 	p x
		# end
		# p '============='



<%= form_for(:round, url: champ_update_path(@champs), html: {method: 'patch'}) do |f| %>
<%= fields_for :round, @champs do |champ| %>
<div><%= champ.name %></div>
<% end %>
<% end %>
